name: Update Discord Bot

on:
  push:
    branches:
      - production

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Stop Discord Bot
        run: |
          taskkill /IM python.exe /F

      - name: Start Discord Bot
        run: |
          python main.py
